<section class="main" data-testid="main" [ngClass]="{ hidden: noTodosClass() }">
  <input
    id="toggle-all"
    class="toggle-all"
    type="checkbox"
    data-testid="toggleAll"
    [checked]="isAllTodosSelected()"
    (change)="toggleAllTodos($event)"
  />
  <label for="toggle-all">Mark all as completed</label>
  <ul class="todo-list">
    <app-todos-todo
      *ngFor="let todo of visibleTodos()"
      [todo]="todo"
      data-testid="todo"
      [isEditing]="editingId === todo.id"
      (setEditingId)="setEditingId($event)"
    ></app-todos-todo>
  </ul>
</section>
